# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Python Projects\Khisamov_lab10\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
